@import "tailwindcss";

.custom-marker img {
    transition: transform 0.2s ease, filter 0.2s ease;
}

.custom-marker:hover img {
    transform: scale(1.2);
    filter: drop-shadow(0 0 6px orange);
}
